body{
    font-family: 'Roboto', sans-serif;
}
#heading{
    background-color: darkorchid;
    color:white;
    text-align: center;
    height:100px;
    padding-top: 10px;
    font-size: 50px;
    font-weight: bolder;
}
#formfield{
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    width:500px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    padding: 10px;
    background-color:rgb(213, 155, 242);
    margin-bottom: 50px;
}
#formfield h1{
    text-align: center;
    font-weight: bold;
}
#formfield label{
    font-size: 20px;
    font-weight: 500;
}
#formfield button{
    background-color: white;
    color: darkorchid;
    font-size: 20px;
    width:100px;
}
#formfield input[type=text], #formfield input[type=password], #formfield input[type=email], #formfield input[type=tel], #formfield input[type=number] {
    width:250px;
}
@media screen and (max-width:600px){
    #formfield{
        width:400px;
    }
    #formfield label{
        font-size: 40px;
    }
    #formfield input[type=text], #formfield input[type=password], #formfield input[type=email], #formfield input[type=tel], #formfield input[type=number]{
        width:350px;
        height: 50px;
    }
    #formfield h1{
        font-size: 50px;
    }
    #formfield button{
        height: 75px;
        font-size: 40px;
        width: 200px;
    }
}
@media screen and (max-width:450px){
    #formfield{
        width:350px;
    }
    #formfield input[type=text], #formfield input[type=password], #formfield input[type=email], #formfield input[type=tel], #formfield input[type=number]{
        width:250px;
    }
    #heading{
        height: 200px;
    }
}