body{
    background-image: url("background.png");
    background-attachment: fixed;
    background-size: cover;
}
#header{
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    margin-top: 10px;
}
#heading{
    opacity:100%;
    color:white;
}
.options button{
    background-color: white;
    height:200px;
    width:200px;
    opacity: 90%;
    font-size: 30px;
}
#maincontainer{
    display: flex;
    justify-content: center;
    height: 500px;
    align-items: center;
    gap:50px;
}
.options button:hover{
    background-color: white;
    opacity: 100%;
    color: rgb(4, 4, 124);;
}