#header{
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    background-color: darkblue;
    color: white;
}
#maincontainer{
    width:800px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border:5px solid darkblue;
    font-size:25px;
    padding:25px;
    color:darkblue;
}
#maincontainer h1{
    text-align: center;
}
#maincontainer input{
    border:1px solid darkblue;
}
#maincontainer textarea{
    border: 1px solid darkblue;
    resize:none;
}
#submitbtn{
    background-color: darkblue;
    color:white;
    width: 100px;
    border-radius: 20px;
    font-size: 20px;
}