.parent{
    height:200px;
    width:100%;
    background-color: crimson;
    display: flex;
}
.children{
    height:100px;
    width:100px;
    background-color: chartreuse;
    text-align: center;
    font-size: 30px;
    margin-right:10px;
}
#parent_2{
    justify-content: flex-start;
}
#parent_3{
    justify-content: center;
}
#parent_4{
    justify-content: flex-end;
}
#parent_5{
    justify-content: space-between;
}
#parent_6{
    justify-content: space-around;
}
#parent_7{
    justify-content: space-evenly;
}
#parent_8{
    justify-content: space-evenly;
    align-items: center;
}
#parent_9{
    justify-content: space-evenly;
    align-items: flex-start;
}
#parent_10{
    justify-content: space-evenly;
    align-items: flex-end;
}
#parent_11{
    justify-content: space-evenly;
    flex-wrap: nowrap;
}
#parent_12{
    justify-content: space-evenly;
    flex-wrap: wrap;
}
#parent_14{
    flex-direction: row;
}
#parent_15{
    flex-direction: row-reverse;
}
#parent_16{
    flex-direction: column;
}
#parent_17{
    flex-direction: column-reverse;
}
#parent_18{
    justify-content: space-evenly;
    flex-wrap: wrap-reverse;
}
#parent_19{
    align-items: baseline;
    justify-content: space-evenly;
}
.c19{
    width:100px;
    background-color: chartreuse;
    font-size: 30px;
    margin-right:10px;
    display: flex;
    align-items: center;
}
#parent_20{
    align-items: stretch;
    justify-content: space-evenly;
}
.c20{
    background-color: chartreuse;
    text-align: center;
    font-size: 30px;
    margin-right:10px;
    width:100px;
}
#parent_21{
    flex-flow: row-reverse wrap-reverse;
    justify-content: space-evenly;
}
#parent_22{
    gap:50px 200px;
    flex-wrap: wrap;
    height: auto;
}
