#para_1{
    font-family:'Playfair Display',sans-serif ;
    font-size: 25px;
    font-weight: 500;
    font-style: italic;
}
#para_2{
    font-variant: small-caps;
    font-size: 25px;
    color: blueviolet;
    background-color: aquamarine;
}
h1{
    font-family: 'Rubik',sans-serif;
    font-weight: bolder;

}
#para_3
{
    font-family: 'Rubik Scribble',sans-serif;
    font-size: 25px;
}