#parent1 img{
    height:400px;
}
#parent1{
    width:50%;
}
body{
    background-color: aqua;
}
#parent2 img{
    height:400px;
}
#parent2{
    width:50%;
}
#parent3 img{
    height:400px;
}
#parent3{
    width:50%;
}
#parent4 img{
    height:400px;
}
#parent4{
    width:50%;
}
#parent5 img{
    height:400px;
}
#parent5{
    width:50%;
}
#parent6 img{
    height:400px;
}
#parent6{
    width:50%;
}
#parent7 img{
    height:400px;
}
#parent7{
    width:50%;
}