body{
    font-family: "Poppins";
    width:88%;
}
#parent{
    position:fixed;
    top:0px;
    width:95%;
    background-color: white;
    z-index: 10;
    height:100px;
}
#parent_0,#parent_7,#parent_10{
    position:relative;
    top:150px;
    left:200px;
    width:80%;
}
#parent_0 img, #parent_7 img, #parent_10 img{
    width:1200px;
    height:300px;
    position: relative;
    right:50px;
}
#parent_1{
    position:relative;
    display: flex;
    justify-content: space-between;
}
#child_1{
    display: flex;
    justify-content: space-evenly;
    width:50%;
}
.child1{
    position: relative;
    top:30px;
}
.child1 a{
    text-decoration: none;
    font-size: 20px;
    color: rgb(95,99,104);
}
#child_2{
    display:flex;
    justify-content: space-between;
    position: relative;
    top:25px;
    color: grey;
}
.child2{
    width:50px;
}
#button_1{
    background-color: orangered;
    border: 1px solid orangered;
    height: 40px;
    width:40px;
    color:white;
    font-weight: bold;
    border-radius: 50%;
}
.button_2{
    background-color: white;
    border-color: white;
    border-style: solid;
    height:40px;
}
#child_2 i{
    font-size: 20px;
    color: grey;
}
#parent_2{
    display: flex;
    justify-content: flex-start;
    gap:20px;
    position: relative;
    left:150px;
    top:100px;
}
#parent_2 button{
    background-color:white;
    border:1px solid rgb(179, 177, 177);
    font-size: 15px;
    border-radius: 30%;
    width:125px;
    height:30px;
    color: grey;
}
#parent_2 a{
    color: grey;
    text-decoration: none;
}
#parent_3, #parent_5{
    position: relative;
    left:150px;
    top:200px;
}
#parent_4, #parent_6{
    display: flex;
    justify-content: space-around;
    position: relative;
    top:200px;
    left:40px;
    
}
.child4{
    height: 300px;
    width:200px;
}
.child5{
    display: flex;
    justify-content: flex-start;
}
.child7{
    position:relative;
    left:10px;
}
#logo{
    position: relative;
    bottom:10px;
}
#parent_4 a, #parent_6 a,#parent_9 a{
    text-decoration: none;
    color:black;
}
#parent_7 img{
    top:100px;
}
#parent_8{
    position: relative;
    left:150px;
    top:250px;
}
#parent_9{
    display: flex;
    justify-content: space-around;
    position: relative;
    top:250px;
    left:40px;
}
#parent_10 img{
    top:150px;
}
#parent_11{
    display: flex;
    justify-content: flex-start;
    position: relative;
    top: 300px;
    left:100px;
    gap:200px;
    margin-top: 50px;
}
#parent_11 a{
    text-decoration: none;
    color: grey;
    font-size: 15px;
}
#parent_11 h3{
    font-size: 20px;
}
#parent_12{
    display: flex;
    justify-content: space-between;
    position:relative;
    top:400px;
    left:100px;
    height:100px;
}
.child10{
    display: flex;
    justify-content: space-around;
    gap:20px;
    color: grey;
    font-size: 13px;
}
.child10 a{
    text-decoration: none;
    color: grey;
}